RewriteEngine On

# Permitir CORS
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

# Manejar preflight OPTIONS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

# No reescribir archivos que existen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Permitir acceso directo a archivos .php
RewriteCond %{REQUEST_FILENAME} !\.php$

# Añadir .php si no está presente
RewriteRule ^([^\.]+)$ $1.php [NC,L]
